.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.input{
  display:flex;
  flex-direction:column;
  margin-bottom: -1vh;
}
.textarea{
  height: 14vh;
}
label{
  font-weight: 900;
  margin-bottom:0.5vh;
}


